body {
	width: 100%;
	margin: 0;
	padding: 0;
}
#topmenu {
	margin: 0;
	padding: 0;
	line-height: 50px;
	height: 50px;
	background: #000000;
}
#topmenu ul { list-style:  none;}
#topmenu ul li { float: left ; color: #ffffff; min-width: 100px; padding: 0 15px 0 0;}
#topmenu ul li a{ text-decoration: none; color: #ffffff}
#topmenu ul li a:hover{ text-decoration: underline; font-weight: bold;}

#main {
	margin: auto;
	margin-top: 100px;
	width: 80%;
}
#footer{
	margin-top: 150px;
	background: #EDEDED;
	width: 100%;
	line-height: 50px;
	height: 50px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.list_table {
    border : 1px solid #ccc;
}
.list_table .item td{
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding:10px; 
	vertical-align:middle;
}
.list_table table tr:last-child td{
	border-bottom: 1px solid #ccc;
}
.list_table a{
    text-decoration: none;
}
.list_table a:hover{
    text-decoration: underline;
}
img { max-width: 300px;}

.button {
	float: left;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.button:active {
	position:relative;
	top:1px;
}
